body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}
.wrap{
    border: 1px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    text-align: center;
}

#position-zero{
    text-align: left;
}

#position-one{
    text-align: left;
    position: absolute;
    margin-left: 75%;
}

#position-two{
    text-align: left;
    position: absolute;
    margin-left: 79%;
}

#position-one-eight{
    text-align: left;
    position: absolute;
    margin-left: 150px;
}

#observation{
    text-align: left;
    position: absolute;
    margin-left: 150px;
    width: 90%;
    height: 30px;
}
.table th{
    border-top: black solid 1px !important;
    border-bottom: black solid 1px !important;
}

.nematoides {
    height: 450px;
}

.param{
    width: 700px;
    text-align: center;
}

.param-header{
    border: black solid 1px;
    display: flex;
    align-items: center;
}

.param-content{
    border: black solid 1px;;
}

.assinatura{
    margin-top: 200px;
    margin-left: 65%;
}