<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
	<head th:insert="~{header :: head}">
		<meta charset="utf-8">
		<title>AgroAnálise</title>
	</head>
<body class="indexBody">
	<nav th:insert="~{navbar :: nav}">
      <div class="footer container-fluid">
        <div class="footer-copyright text-center py-3 ">© 2020 Copyright:
          <a href="https://faculdadefacec.edu.br/" target="_blank"> FACEC</a>
        </div>
      </div>
	</nav>
	
	<div th:insert="~{footer :: footer}">
	</div>
</body>

</html>