<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
	<head>
		<meta charset="utf-8">
	</head>
	<nav th:fragment="nav" class="navbar container-fluid navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="../img/Facec 2.png" width="90" height="30" class="d-inline-block align-top" alt="">    
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
         	<ul class="navbar-nav mr-auto">
           		<li class="nav-item active">
              		<a class="nav-link active" href="/">Inicio <span class="sr-only">(current)</span></a>
            	</li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Cadastro
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/convenios">Convenio</a>
                  <a class="dropdown-item" href="/clientes">Cliente</a>
                  <a class="dropdown-item" href="/terrenos">Terreno</a>
                  <a class="dropdown-item" href="/amostras">Amostra</a>
                  <a class="dropdown-item" href="/nematoides">Nematoide</a>
                </div>
              </li>
            <li class="nav-item dropdown">
              <!-- <a class="nav-link" href="#">Relatórios</a> -->
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Relatórios
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/relatorioConvenios">Convenios</a>
                  <a class="dropdown-item" href="/relatorioClientes">Clientes</a>
                  <!-- <a class="dropdown-item" href="/terrenos">Terrenos</a>-->
                  <a class="dropdown-item" href="/relatorioNematoides">Nematoides</a>
                </div>
            </li>            
            <li class="nav-item">
              <a class="nav-link " href="/laudos">Laudos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">Configurações</a>
            </li>
            <li>
              <div class="logout">
                <a class="nav-link" href="#">Sair</a>
           	  </div>
            </li>
          </ul>
        </div>
      </nav>
</html>